<div class="form-group {{errorClass}}">
  <label class="col-md-4 control-label" for={{id}}>
    {{label}}
  </label>
  <div class="col-md-8">
    {{{markup}}}
    <span class="help-block">
      {{errorMessage}}
    </span>
  </div>
</div>
